/* 
    Document   : admin
    Created on : 10-Oct-2012, 11:36:04 AM
    Author     : Chris
    Description:
        Purpose of the stylesheet follows.
*/

#puppet .server {
    margin-bottom: 25px;
    margin-left: 160px;
}
#puppet .server-list {
    float: left;
    width: 150px;
}
#puppet .all-facts {
    float: right;
    overflow:hidden;
    width: 300px;
}
#puppet .server .facts {
    margin-bottom: 25px;
}
#puppet .server .facts div span {
    font-weight: bold;
    margin-right: 10px;
}
#puppet .server .subitem {
    padding-left: 20px;
}

.title .title_right {
    float: right;
    margin-top: -42px;
    margin-right: 15px;
}

.ticketdetails {
    float: left;
    width: 300px;
}

.tickettransaction {
    float: left;
}

.ticketactions {
    float: right;
}
.ticketdetails  div:first-of-type {
    font-weight: bold;
    font-size: 15px;
}

.ticketdetails  span:first-of-type {
    font-weight: bold;
    width: 80px;
    display: inline-block;
}

.tickettransaction  span:first-of-type {
    font-weight: bold;
    width: 100px;
    display: inline-block;
}

div#usersearch .search {
    margin-bottom: 10px;
}

div#usersearch .search input.clearInputField {
    background: url('/medias/btn_clear.png') center center no-repeat;
    height: 14px;
    width: 14px;
    z-index: 42;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    left: -21px;
}

div#usersearch table thead span {
    cursor: pointer;
}

div#usersearch table tbody tr {
    cursor: pointer;
    text-align: left;
}

div#usersearch table tbody tr:hover {
    background: #252525;
}

.confirmation-actions .ui-icon {
    display: inline-block;
    cursor: pointer;
}
.content-1 {
    float:left;
    width:400px;
    padding:10px;
}

.content-1  div:first-of-type {
    font-weight: bold;
    font-size: 15px;
}

.content-1  span:first-of-type {
    font-weight: bold;
    width: 100px;
    display: inline-block;
}
.content-2-1 {
    float:left;
    width:100px;
    padding:37px;

}
.content-2-2 {
    float:left;
    width:50px;
    padding:30px;
}
