/* 
    Document   : tickets
    Created on : 12-Sep-2010, 4:27:24 PM
    Author     : riouxm
    Description:
        tickets page stylesheet
*/

div.ticketprice {
    background-color:#404040;
    border:#1e1e1e solid 2px;
    float:left;
    margin:0 5px 10px 0;
    padding:5px;
    width:196px;
}
div.ticketprice h3 {
    margin-top:0;
    text-transform:uppercase;
}
div.ticketprice p {
    margin-bottom:0;
}
div.ticketprice p span.l1 {
    color:#bdbdbd;
}
div.ticketprice p span.l2 {
    color:#9a9a9a;
}
div.ticketprice.last {
    margin-right:0;
}

div.ticketbox {
    width: 95px;
    height: 85px;
    margin: 0px 42px 20px 42px !important;
}

div.ticketbox h4 {
    margin: 92px 0px 0px -3px;
    text-align: center;
}

div.ticket {
    background-color:#404040;
    border:#1e1e1e solid 2px;
    margin:10px 0 15px 0;
    padding:5px;
}

div.ticket:hover {
    background-color:#464646;
}

div.ticket a.button {
    float:right;
}

div.ticket div.tkt_img {
    float:left;
    height:80px;
    margin:0 5px 5px 0;
    width:80px;
}

div.ticket div.price {
    border:#717171 dashed 1px;
    color:#e35604;
    float:right;
    font-size:22px;
    margin:0 0 10px 10px;
    padding:4px;
}
div.ticket div.price span {
    color:#fff;
    font-size:9px;
}

div.ticket div.tkt_img.byoc {
    background:url(/medias/ticket_byoc.gif) center center no-repeat;
}
div.ticket div.tkt_img.group {
    background:url(/medias/ticket_group.gif) center center no-repeat;
}
div.ticket div.tkt_img.accompanist {
    background:url(/medias/ticket_accompanist.gif) center center no-repeat;
}
div.ticket div.tkt_img.visitor {
    background:url(/medias/ticket_visitor.gif) center center no-repeat;
}

/* SHOPPING CART */
div#addticket {
    float: left;
    margin-top: 2px;
}

select#tickettypes.hidden {
    display: none;
}

table.sc{
    margin:0 0 10px 0;
}

table.sc thead tr th{
    background-color:#000;
    border-bottom:#3e3e3e solid 1px;
    color:#80c91a;
    font-weight:bold;
    padding:5px 5px 5px 5px;
    text-align:left;
}

table.sc tbody tr td{
    border-bottom:#3e3e3e dotted 1px;
    color:#FFF;
    padding:5px 5px 5px 2px;
    text-align:left;
}
table.sc tbody tr td ul{
    color:#696969;
    margin:10px 0 0 10px;
    list-style:none;
}
table.sc tbody tr td.ticket1 {
    background: url(/medias/ticket1.png) center left no-repeat;
    padding-left:20px;
}
table.sc tbody tr td.ticket2 {
    background: url(/medias/ticket2.png) center left no-repeat;
    padding-left:20px;
}
table.sc tbody tr td.ticket3 {
    background: url(/medias/ticket3.png) center left no-repeat;
    padding-left:20px;
}
table.sc tbody tr td.options .remove {
    background: url('/medias/cancel.png') center left no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

table.sc tfoot tr td, table.sc tfoot tr th{
    border:none;
}
table.sc tfoot tr{
    border:none;
    background-color:#000;
    font-weight:bold;
}

div#scTotal {
    text-align:right;
    margin: 0px 0px 10px 0px;
    padding-top: 30px;
}
div#scTotal span.el {
    display:block;
}
span#gtotline {
    font-size:14px;
    font-weight:bold;
    color:#1E90FF;
    margin-top:5px;
}
span#pmpriceline {
    font-size: 11px;
}

div#paimentmethod {
    float: left;
}

div#paimentmethod .method {
    line-height: 25px;
    padding:  10px 0px 0px 0px;
    clear: both;
}

div#paimentmethod .method input {
    float: left;
    margin: 6px 10px 0 0;
}

div#paimentmethod .paimenttype {
    height: 23px;
    width: 42px;
    display: block;
    float: left;
}

div#paimentmethod .paimenttype.visa{
    background: url('/medias/payment_icons_sprite.2D.png') no-repeat left -30px;
}

div#paimentmethod .paimenttype.mc {
    background: url('/medias/payment_icons_sprite.2D.png') no-repeat left -60px;
}

div#paimentmethod .paimenttype.amex {
    background: url('/medias/payment_icons_sprite.2D.png') no-repeat left -120px;
}
div#paimentmethod .paimenttype.paypal {
    background: url('/medias/paypal.gif') no-repeat;
}

#btn-checkout {
    width: 160px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: -1000em;
    cursor: pointer;
}

#btn-checkout.fr {
    background: transparent url(/medias/btn_checkout_fr.gif) no-repeat center top;
}

#btn-checkout.en {
    background: transparent url(/medias/btn_checkout_en.gif) no-repeat center top;
}


#search-result {
    margin-left: -105px;
    color: #000000;
}

div#ticketAssigner .left {
    padding-left: 42px;
    line-height: 46px;
}

div#ticketAssigner .center{
    padding: 0 42px;
    font-weight: bold;
    line-height: 40px;
}

div#ticketAssigner input {
    margin: 0 10px 5px 0;
}

div#ticketAssigner .right {
    width: 330px;
}

div#ticketAssigner #ticketAssignerConfirmation img {
    margin-left: -25px;
    margin-right: 10px;
}

div#ticketAssigner #btnClearUser {
    background: url('/medias/btn_clear.png') center center no-repeat;
    height: 14px;
    width: 14px;
    z-index: 42;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    left: -30px;
}