<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>&{'L_EVENT_NAME'} - #{get 'title' /}</title>

        <!-- Stylesheets -->
        <link rel="Shortcut Icon" href="/public/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/${lang}.css" />
        <link rel="stylesheet" href="/stylesheets/skeleton.css" />
        <link rel="stylesheet" href="/stylesheets/titles.css" />
        <link rel="stylesheet" href="/stylesheets/text.css" />
        <link rel="stylesheet" href="/stylesheets/boxes.css" />
        <link rel="stylesheet" href="/stylesheets/pages.css" />
        
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7343280-1']);
            _gaq.push(['_setDomainName', '.lanets.ca']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body>

        <div id="main_wrapper">

            <div id="back_wrapper">

                <!-- HEADER -->
                #{layout.header /}

                <span class="clear"></span>

                <div id="content_area">

                    <div id="master_frame">
                        <div class="top"></div>
                        <div class="main">

                            <div id="column_full">
                                #{doLayout /}
                            </div>

                            <span class="clear"></span>
                        </div>
                    </div>

                </div>
                #{layout.footer /}
            </div>

        </div>

    </body>
</html>